[Desktop Entry]
Exec=/home/roman/.local/bin/scripts/set-wallpaper-plasma.sh
Icon=application-x-shellscript
Name=set-wallpaper-plasma
Type=Application
X-KDE-AutostartScript=true
