[Desktop Entry]
Exec=sound-normalizer.sh
Name=Normalize sound
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
